#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 30px;
  text-align: center;
  background-color: rgb(109, 172, 172);
}

 li{
  list-style: none;
  margin: 20px
 }
 input{
  padding: 10px;
  border-radius: 40px;
  border: 1px solid #ccc;
  width: 300px;
 }
 button{
  background-color: #1a1a1a;
  color: white;
  border-radius: 60px;
  border: none;
  padding:7px 9px;
  cursor: pointer;
  margin-left: 10px;
 }
